.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 420px;
  margin: 35px auto;
  background: #44197E;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid black;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
}

input[type="text"],
select,
input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid green;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: none;
  background: green;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.output {
  margin-top: 20px;
  padding: 15px;
  background: #eef7ff;
  border-left: 3px solid #0077cc;
}
.btn-red {
  background-color: red;
  color: white;
  cursor: not-allowed;
}

.btn-green {
  background-color: green;
  color: white;
  cursor: pointer;
}

body {
  background-color: #262429;
}